body {
  margin: 0;
  font-family: 'Dancing Script', cursive;
  background: #ffe6e6;
  color: #444;
  overflow-x: hidden;
}

.entrada {
  height: 100vh;
  background: pink;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.entrada button {
  padding: 10px 20px;
  font-size: 18px;
  margin-top: 20px;
  cursor: pointer;
}

.musica {
  text-align: center;
  margin: 30px 0;
  font-family: 'Georgia', serif;
}

#coracoes {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
}

.linha-do-tempo {
  padding: 30px;
  
}

.linha-do-tempo h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 50px;
}

.evento {
  margin-bottom: 30px;
  text-align: center;
}

.evento img {
  max-width: 90%;
  height: auto;
  border-radius: 15px;
}
.evento p {
  font-size: 30px;
  color: black;
}
.quiz {
  background: #fce4ec;
  padding: 30px;
  font-size: 35px;
}

.quiz h2 {
  text-align: center;
}

.pergunta {
  margin-bottom: 25px;
  text-align: center;
  font-size: 30px;
  margin-top: 40vh;
  background-color:#dfbcbc ;
  height: 40vh;
  padding: 5%;
}

.pergunta button {
  margin: 5px;
  padding: 10px 15px;
  cursor: pointer;
  text-decoration: none;
  border: none;
  background-color: #ca6868;
  margin-top: 5vh;
  font-size: 15px;
  height: 40px;
}

.surpresa {
  text-align: center;
  padding: 40px;
  background-color: #fff0f5;
}

.surpresa button {
  padding: 12px 20px;
  font-size: 18px;
  cursor: pointer;
}

#mensagem-surpresa {
  display: none;
  margin-top: 20px;
  font-size: 30px;
  color: #d63384;
}

.conteudo .topo-romantico {
  text-align: center;
  padding: 40px 20px 10px;
  font-size: 65px;
  color: #b11515;
  width: 100%;
  height: 100vh;

}
.entrada-animacao {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: #e6a4a4;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
}

.entrada-animacao button {
  height: 100px;
  width: 400px;
  font-size: 50px;
  background: #d31414;
  border: none;
  color: #dfbcbc;
  border-radius: 10px;
}

.entrada-animacao h1 {
  color: #d31414;
  
}

.coracoes-container {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  animation: pulse 2s ease-in-out infinite;
}

.coracao {
  width: 30px;
  height: 30px;
  background: red;
  position: relative;
  transform: rotate(-45deg);
  animation: flutuar 2s infinite ease-in-out;
}

.coracao::before,
.coracao::after {
  content: "";
  width: 30px;
  height: 30px;
  background: red;
  border-radius: 50%;
  position: absolute;
}

.coracao::before {
  top: -15px;
  left: 0;
}
.coracao::after {
  left: 15px;
  top: 0;
}

@keyframes flutuar {
  0%, 100% {
    transform: translateY(0) rotate(-45deg);
  }
  50% {
    transform: translateY(-10px) rotate(-45deg);
  }
}

@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.2); }
  100% { transform: scale(1); }
}

